.ui-sortable tr:hover {
	cursor: move;
}

.ui-sortable tr.alternate {
	background-color: #f9f9f9;
}

.ui-sortable tr.ui-sortable-helper {
	background-color: #f9f9f9;
	border-top: 1px solid #dfdfdf;
}

.ui-sortable-placeholder {
	display: none;
}
